<div class="container">
  {{navbar-user user=model}}

  <div class="col-lg-12" id="nameTeamContainer">  
     <div class="thumbnail" id="nameTeam">
       <h1>{{t 'welcomeBack'}} {{model.username}}</h1>
       <b>{{t 'team'}}:</b> {{model.team.name}} [{{model.team.abbreviation}}]<br>
       <b>{{t 'budget'}}:</b> ${{model.team.budget}}</b><br>
       <b>{{t 'score'}}:</b> {{model.team.score}}</b>
     </div>
  </div>
</div>

