<div class="container">
  {{navbar-user}}
  <table class="table table-ballin">
    <thead>
      <tr>
        <th colspan="13" class="centered">
          <h1>Auctions</h1>
        </th>
      </tr>
      <tr>
        <th class="centered">POSITION</th>
        <th class="centered">PLAYER</th>
        <th class="centered">SCORE</th>
        <th class="centered">TEAM</th>
        <th class="centered">MAX BID</th>
        <th class="centered">ENDS IN</th>
        <th class="centered"></th>
      </tr>
    </thead>
    <tbody>
    {{#each auction in model.auctions}}
      <tr>
        <td class="centered">
          {{#each POS in auction.player.canPlay}}
            <span class="label label-success">{{POS}}</span>
          {{/each}}
        </td>
        <td class="centered">{{auction.player.name}}</td>
        <td class="centered">{{auction.player.stats.final_score}}</td>
        <td class="centered">{{auction.player.nbaTeam.name}}</td>
        <td class="centered"> 
        {{#if auction.hasBids}}
          {{auction.maxBid}}
        {{else}}
          0
        {{/if}}
        </td>
        <td class="centered">{{auction.remainingTime}}</td>
        <td class="centered">
          <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalBid" {{action 'setAuction' auction}}>
            Make bid!
          </button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div class="modal fade" id="modalBid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Make your bid</h4>
        </div>
        <div class="modal-body">
          {{input value=salary type="number" class="form-control" placeholder="Enter your offer"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Do it!</button>
        </div>
      </div>
    </div>
  </div>


</div>