<div class="container">
  {{navbar-user}}

  {{#if isFailed}}
     <div id="errorMarket" class="alert alert-danger"><b>{{t 'error'}}</b>! {{t 'errors.makeBid.text'}}<br>
       <ul>
         <li>{{t 'errors.makeBid.budget'}}</li>
         <li>{{t 'errors.makeBid.close'}}</li>
         <li>{{t 'errors.makeBid.own'}}</li>
      </ul>
     </div>
  {{/if}}

  {{#if isSuccess}}
   <div class="alert alert-success"><b>{{t 'success'}}</b>! {{t 'createdBid'}}.</div>
  {{/if}}



  <table class="table table-ballin">
    <thead>
      <tr>
        <th colspan="12" class="centered">
          <h1>{{t 'market.auctions'}}</h1>
        </th>
      </tr>
      <tr>
        <th class="centered">{{t 'tableHeaders.position'}}</th>
        <th class="centered">{{t 'tableHeaders.player'}}</th>
        <th class="centered">{{t 'tableHeaders.score'}}</th>
        <th class="centered">{{t 'tableHeaders.maxBid'}}</th>
        <th class="centered">{{t 'tableHeaders.endsIn'}}</th>
        <th class="centered"></th>
      </tr>
    </thead>
    <tbody>
    {{#each auction in model.auctions}}
      <tr>
        <td class="centered">
          {{#each POS in auction.player.canPlay}}
            <span class="label label-success">{{POS}}</span>
          {{/each}}
        </td>
        <td class="centered">
          {{#link-to 'players.show' auction.player}}
            {{auction.player.name}}
           {{/link-to}}
        </td>
        <td class="centered">{{auction.player.stats.final_score}}</td>
        <td class="centered"> 
        {{#if auction.bids.isFulfilled}}
          {{#if auction.hasBids}}
            {{auction.maxBid}}
          {{else}}
            0
          {{/if}}
        {{else}}
          {{t 'actions.loading'}}...
        {{/if}}
        </td>
        <td class="centered">{{auction.remainingTime}}</td>
        <td class="centered">
          <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalBid" {{action 'setAuction' auction}}>
            {{t 'actions.makeBid'}}!
          </button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div class="modal fade" id="modalBid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{t 'market.modalHeaderTitle'}}</h4>
        </div>
        <div class="modal-body">
          {{input value=salary type="number" class="form-control" placeholder=i18n.current.market.placeholder}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'actions.close'}}</button>
          <button type="button" class="btn btn-primary" {{action 'createBid'}} {{bind-attr disabled=isInvalid}} data-dismiss="modal">{{t 'actions.submit'}}!</button>
        </div>
      </div>
    </div>
  </div>


</div>