<div class="container">
  {{navbar-user user=nil}}

  <h1>{{t 'myLeague.leagueBefore'}} {{model.name}} {{t 'myLeague.leagueAfter'}}</h1>

    {{#each conference in model.conferences}}
      {{partial "conferences/table"}}
    {{/each}}


</div>