<div class="panel panel-info">
  <div class="panel-heading" role="tab" {{bind-attr id=contract.sharpId}}>
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" {{bind-attr href=contract.player.sharpId}} aria-expanded="false" {{bind-attr aria-controls=contract.id}}>
        {{contract.player.name}} ({{contract.player.position}})
      </a>
    </h4>
  </div>

  <div {{bind-attr id=contract.id}} {{bind-attr aria-labelledby=contract.sharpId}} class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
      <ul>
        <li>Position: {{contract.player.positionLong}}</li>
        <li>Salary: {{contract.salary}} </li>
        <li>Score amount: {{contract.player.stats.final_score}}</li>
      </ul>
    </div>
  </div>