<div class="col-sm-6 col-md-4">  
  <div class="thumbnail">
    <div class="caption">
      <h3>{{contract.player.name}}</h3>
      <p>
        <b>Salary</b>: ${{contract.salary}}<br>
        <b>Position</b>: {{contract.player.positionLong}}<br>
        <b>Score</b>: {{contract.player.stats.final_score}}<br>
        <b>Games count</b>: {{contract.player.stats.games_played}}
      </p>
      <p>
        <a href="#" class="btn btn-primary" role="button">Button</a>
        <a href="#" class="btn btn-default" role="button">Button</a>
      </p>
    </div>
  </div>
</div>
