<div class="col-sm-6 col-md-4">  
  <div class="thumbnail">
    <div class="caption">
      <hr>
        {{current-position contract=contract lineup=contract.team.rotation}}
      <hr>
      <p>
        <b>Salary</b>: ${{contract.salary}}<br>
        <b>Score</b>: {{contract.player.stats.final_score}}<br>
        <b>Games count</b>: {{contract.player.stats.games_played}}<br>
        <b>Position</b>: {{contract.player.positionLong}} <br>
      </p>
      <p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Set as...</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>

          <ul class="dropdown-menu primary" role="menu">
            {{#each POS in contract.player.canPlay}}
              <li><a {{action "setAs" POS contract.player}}>{{POS}}</a></li>
            {{/each}}
          </ul>
        </div>
        <a href="#" class="btn btn-danger" role="button">Waive contract</a>
      </p>
    </div>
  </div>
</div>
