<div class="col-sm-6 col-md-4">  
  <div class="thumbnail">
    <div class="caption">
      <hr>
        {{current-position contract=contract lineup=contract.team.rotation}}
      <hr>
      {{#if contract.player.isLoaded}}
        {{#if contract.team.rotation.isLoaded}}
          <p>
            <b>{{t 'salary'}}</b>: ${{contract.salary}}<br>
            <b>{{t 'score'}}</b>: {{contract.player.stats.final_score}}<br>
            <b>{{t 'gamesCount'}}</b>: {{contract.player.stats.games_played}}<br>
            <b>{{t 'position'}}</b>: {{contract.player.positionLong}} <br>
          </p>
        
        {{else}}
          {{t 'actions.loading'}}...
        {{/if}}
      {{else}}
        {{t 'actions.loading'}}...
      {{/if}}
      
    </div>
  </div>
</div>