<div class="col-sm-6 col-md-4">  
  <div class="thumbnail">
    <div class="caption">
      <hr>
        {{current-position contract=contract lineup=contract.team.rotation}}
      <hr>
      {{#if contract.player.isLoaded}}
        {{#if contract.team.rotation.isLoaded}}
          <p>
            <b>{{t 'salary'}}</b>: ${{contract.salary}}<br>
            <b>{{t 'score'}}</b>: {{contract.player.stats.final_score}}<br>
            <b>{{t 'gamesCount'}}</b>: {{contract.player.stats.games_played}}<br>
            <b>{{t 'position'}}</b>: {{contract.player.positionLong}} <br>
          </p>
          <p>
            <div class="btn-group">
              <button type="button" class="btn btn-primary">{{t 'setAs'}}...</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>

              <ul class="dropdown-menu primary" role="menu">
                {{#each POS in contract.player.canPlay}}
                  <li><a {{action "setAs" POS contract.player}}>{{POS}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-danger">{{t 'sell'}}</button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu danger" role="menu">
                <li><a {{action 'createAuction' contract}}>{{t 'createAuction'}}</a></li>
                <li><a {{action 'waive' contract}}>{{t 'waive'}}</a></li>
              </ul>
            </div>
          </p>

        {{else}}
          {{t 'actions.loading'}}...
        {{/if}}
      {{else}}
        {{t 'actions.loading'}}...
      {{/if}}
      
    </div>
  </div>
</div>
