
<div class="panel panel-default">
  <div class="panel-heading" role="tab" {{bind-attr id=league.name}}>
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" {{bind-attr href=league.sharpId}} aria-expanded="false" {{bind-attr aria-controls=league.id}}>
        {{league.name}} ({{league.numberOfTeams}} players)
      </a>
    </h4>
  </div>

  <div {{bind-attr id=league.id}} {{bind-attr aria-labelledby=league.name}} class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
        {{#each conference in league.conferences}}
            {{#each division in conference.divisions}}
              <label class="btn btn-info" {{bind-attr disabled=division.isFull}}>
                <input type="radio" name="options" {{bind-attr id=division.id}} autocomplete="off"> {{division.name}}
              </label>
            {{/each}}
        {{/each}}
      
    </div>
  </div>