<form class="form-signin" {{action "login" on="submit"}}>

  {{#if loginFailed}}
    <div class="alert alert-danger"><b>{{t 'error'}}</b>! {{t 'errors.login'}}.</div>
  {{/if}}

  {{input value=email_or_username type="text" class="form-control" placeholder="Username or email"}}
  {{input value=password type="password" class="form-control" placeholder="Password"}}
  <button type="submit" class="btn btn-lg btn-success" {{bind-attr disabled=isInvalid}}>{{t 'actions.signIn'}}</button>
  <button type="submit" class="btn btn-lg btn-danger">{{t 'actions.close'}}</button>
</form>