<div class="container">
  {{navbar-user user=nil}}

  <div class="row">
    <div class="col-md-6" id="playerInfoContainer">  
      <div class="thumbnail" id="playerInfo">
        <hr>
        <h1>{{model.name}} <small>#{{model.number}}</small></h1>
        <hr>
        <ul>
          <li><b>Height:</b> {{model.heightFormatted}} ({{model.heightCm}} cm)</li>
          <li><b>Weight:</b> {{model.weightLb}} lb ({{model.weightKg}} kg)</li>
          <li><b>Birthdate:</b> {{model.birthdate}} ({{model.birthplace}})</li>
          <li><b>Position(s):</b> {{model.canPlay}}</li>
          <li><b>Score:</b> {{model.stats.final_score}}</li>
          <li><b>Team:</b> {{model.nbaTeam.name}}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6" id="chartContainer">
      <div class="thumbnail" id="chart">
        <hr>
        <h1>Stats</h1>
        <hr>
        {{ember-chart type='radar' data=model.chartData options=model.chartPlayerOptions width=350 height=350 legend=false}}
      </div>
    </div>

    <div class="col-md-6" id="nextGameContainer">
      <div class="thumbnail" id="nextGame">
        <hr>
        <h1>Next game</h1>
        <hr>
        {{#if model.nbaTeam.isLoaded}}
          <h4>{{model.nbaTeam.nextGame.awayTeam.name}} @ {{model.nbaTeam.nextGame.homeTeam.name}}</h4>
          <ul>
            <li>{{model.nbaTeam.nextGame.homeTeam.siteName}}</li>
            <li>{{model.nbaTeam.nextGame.startDateTime}}</li>
            <li>{{model.nbaTeam.nextGame.seasonType}}</li>
          </ul>
        {{else}}
          Loading...
        {{/if}}
      </div>
    </div>

  </div>

  {{outlet}}
</div>
