<div class="container">
  {{navbar-user user=nil}}

  <div class="row">
    <div class="col-md-6" id="playerInfoContainer">  
      <div class="thumbnail" id="playerInfo">
        <hr>
        <h1>{{model.name}} <small>#{{model.number}}</small></h1>
        <h5>
          <span class="label label-primary">{{model.nbaTeam.abbreviation}}</span>
          {{#each POS in model.canPlay}}
            <span class="label label-success">{{POS}}</span>
          {{/each}}

        </h5>

        <hr>
        <ul>
          <li><b>{{t 'height'}}:</b> {{model.heightFormatted}} ({{model.heightCm}} cm)</li>
          <li><b>{{t 'weight'}}:</b> {{model.weightLb}} lb ({{model.weightKg}} kg)</li>
          <li><b>{{t 'birthdate'}}:</b> {{model.birthdate}} ({{model.birthplace}})</li>
          </li>
          <li><b>{{t 'score'}}:</b> {{model.stats.final_score}}</li>
          <li><b>{{t 'team'}}:</b> {{model.nbaTeam.name}}</li>
      </div>
    </div>

    <div class="col-md-6" id="chartContainer">
      <div class="thumbnail" id="chart">
        <hr>
        <h1>{{t 'stats'}}</h1>
        <hr>
        {{ember-chart type='radar' data=model.chartData options=model.chartPlayerOptions width=350 height=350 legend=false}}
      </div>
    </div>

    <div class="col-md-6" id="nextGameContainer">
      <div class="thumbnail" id="nextGame">
        <hr>
        <h1>{{t 'nextGame'}}</h1>
        <hr>
        {{#if model.nbaTeam.isLoaded}}
          <h4>{{model.nbaTeam.nextGame.awayTeam.name}} @ {{model.nbaTeam.nextGame.homeTeam.name}}</h4>
          <ul>
            <li>{{model.nbaTeam.nextGame.homeTeam.siteName}}</li>
            <li>{{model.nbaTeam.nextGame.dateTime}}</li>
            <li>{{model.nbaTeam.nextGame.seasonType}}</li>
          </ul>
        {{else}}
          {{t 'actions.loading'}}...
        {{/if}}
      </div>
    </div>
  </div>

<table class="table table-ballin">
  <thead>
    <tr>
      <th colspan="12" class="centered">
        <h1>{{t 'lastGames'}}</h1>
      </th>
    </tr>
    <tr>
      <th class="centered">{{t 'tableHeaders.game'}}</th>
      <th class="centered">{{t 'tableHeaders.mins'}}</th>
      <th class="centered">{{t 'tableHeaders.points'}}</th>
      <th class="centered">{{t 'tableHeaders.assists'}}</th>
      <th class="centered">{{t 'tableHeaders.ftm'}}-{{t 'tableHeaders.fta'}}</th>
      <th class="centered">{{t 'tableHeaders.fgm'}}-{{t 'tableHeaders.fga'}}</th>
      <th class="centered">{{t 'tableHeaders.lsm'}}-{{t 'tableHeaders.lsa'}}</th>
      <th class="centered">{{t 'tableHeaders.defr'}}</th>
      <th class="centered">{{t 'tableHeaders.ofr'}}</th>
      <th class="centered">{{t 'tableHeaders.blocks'}}</th>
      <th class="centered">{{t 'tableHeaders.steals'}}</th>
      <th class="centered">{{t 'tableHeaders.score'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each boxscore in model.boxScores}}
      <tr>
        <td class="centered">{{#link-to 'games.show' boxscore.game}}{{boxscore.game.title}}{{/link-to}}</td>
        <td class="centered">{{boxscore.minutes}}</td>
        <td class="centered">{{boxscore.points}}</td>
        <td class="centered">{{boxscore.assists}}</td>
        <td class="centered">{{boxscore.ftm}}-{{boxscore.fta}}</td>
        <td class="centered">{{boxscore.fgm}}-{{boxscore.fga}}</td>
        <td class="centered">{{boxscore.lsm}}-{{boxscore.lsa}}</td>
        <td class="centered">{{boxscore.defr}}</td>
        <td class="centered">{{boxscore.ofr}}</td>
        <td class="centered">{{boxscore.blocks}}</td>
        <td class="centered">{{boxscore.steals}}</td>
        <td class="centered">{{boxscore.finalScore}}</td>
      </tr>
    {{/each}}
  </tbody>
 </table>

</div>
