{{#if contract.player.isLoaded}}
  {{#if contract.team.rotation.isLoaded}}
    {{#link-to "players.show" contract.player}}<h3>{{contract.player.name}} <br>#{{contract.player.number}}</h3>{{/link-to}}
    <span {{bind-attr class=spanClass}}>{{currentPosition}}</span>
  {{/if}}
{{else}}
  <h3>Loading...<br></h3>
{{/if}}