<button class="btn btn-lg btn-success" {{bind-attr id=id}} {{action 'showLoading'}} {{bind-attr disabled=isInvalid}} {{bind-attr isLoading=isLoading}} type="submit">
  {{#if isLoading}}
    <img src="assets/images/ajax_loader_green_48.gif">
  {{else}}
    {{buttonText}}
  {{/if}}
</label>