    <table class="table table-ballin">
      <thead>
        <tr>
          <th colspan="12" class="centered">
            <h1>{{title}}</h1>
          </th>
        </tr>
        <tr>
          <th class="centered">{{t 'tableHeaders.player'}}</th>
          <th class="centered">{{t 'tableHeaders.mins'}}</th>
          <th class="centered">{{t 'tableHeaders.points'}}</th>
          <th class="centered">{{t 'tableHeaders.assists'}}</th>
          <th class="centered">{{t 'tableHeaders.ftm'}}-{{t 'tableHeaders.fta'}}</th>
          <th class="centered">{{t 'tableHeaders.fgm'}}-{{t 'tableHeaders.fga'}}</th>
          <th class="centered">{{t 'tableHeaders.lsm'}}-{{t 'tableHeaders.lsa'}}</th>
          <th class="centered">{{t 'tableHeaders.defr'}}</th>
          <th class="centered">{{t 'tableHeaders.ofr'}}</th>
          <th class="centered">{{t 'tableHeaders.blocks'}}</th>
          <th class="centered">{{t 'tableHeaders.steals'}}</th>
          <th class="centered">{{t 'tableHeaders.score'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each boxscore in boxScores}}
          {{#if boxscore.isLocal}}
            {{#if boxscore.isStarter}}
            <tr>
              <td class="centered">
              {{#link-to 'players.show' boxscore.player}}
                {{boxscore.player.name}}
              {{/link-to}}
              </td>
              <td class="centered">{{boxscore.minutes}}</td>
              <td class="centered">{{boxscore.points}}</td>
              <td class="centered">{{boxscore.assists}}</td>
              <td class="centered">{{boxscore.ftm}}-{{boxscore.fta}}</td>
              <td class="centered">{{boxscore.fgm}}-{{boxscore.fga}}</td>
              <td class="centered">{{boxscore.lsm}}-{{boxscore.lsa}}</td>
              <td class="centered">{{boxscore.defr}}</td>
              <td class="centered">{{boxscore.ofr}}</td>
              <td class="centered">{{boxscore.blocks}}</td>
              <td class="centered">{{boxscore.steals}}</td>
              <td class="centered">{{boxscore.finalScore}}</td>
            </tr>
            {{/if}}
          {{/if}}
        {{/each}}
        <tr>
          <td colspan="12"><b>Bench</b></td>
        </tr>

        {{#each boxscore in boxScores}}
          {{#if boxscore.isLocal}}
            {{#unless boxscore.isStarter}}
            <tr>
              <td class="centered">
                {{#link-to 'players.show' boxscore.player}}
                  {{boxscore.player.name}}
                {{/link-to}}
              </td>
              <td class="centered">{{boxscore.minutes}}</td>
              <td class="centered">{{boxscore.points}}</td>
              <td class="centered">{{boxscore.assists}}</td>
              <td class="centered">{{boxscore.ftm}}-{{boxscore.fta}}</td>
              <td class="centered">{{boxscore.fgm}}-{{boxscore.fga}}</td>
              <td class="centered">{{boxscore.lsm}}-{{boxscore.lsa}}</td>
              <td class="centered">{{boxscore.defr}}</td>
              <td class="centered">{{boxscore.ofr}}</td>
              <td class="centered">{{boxscore.blocks}}</td>
              <td class="centered">{{boxscore.steals}}</td>
              <td class="centered">{{boxscore.finalScore}}</td>
            </tr>
            {{/unless}}
          {{/if}}
        {{/each}}
      </tbody>
   </table>