<form class="form-signin" {{action "signUp" on="submit"}}>

  {{#if failed}}
    <div class="alert alert-danger"><b>{{t 'error'}}</b>! {{ t 'errors.register'}}</div>
  {{/if}}

  {{input value=model.username type="text" class="form-control" placeholder="Username"}}
  {{input value=model.email type="text" class="form-control" placeholder="Email"}}
  {{input value=model.password type="password" class="form-control" placeholder="Password"}}
  {{input value=model.repassword type="password" class="form-control" placeholder="Repeat password"}}
  <button type="submit" class="btn btn-lg btn-success" {{bind-attr disabled=isInvalid}}>{{t 'actions.register'}}</button>
  {{#link-to 'index'}}
    <button class="btn btn-lg btn-danger">{{t 'actions.close'}}</button>
  {{/link-to}}
</form>