<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Height cm</th>
      <th>Height formatted</th>
      <th>Weight lb</th>
      <th>Weight kg</th>
      <th>Position</th>
      <th>Number</th>
      <th>Birthplace</th>
      <th>Birthdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.height_cm %></td>
        <td><%= player.height_formatted %></td>
        <td><%= player.weight_lb %></td>
        <td><%= player.weight_kg %></td>
        <td><%= player.position %></td>
        <td><%= player.number %></td>
        <td><%= player.birthplace %></td>
        <td><%= player.birthdate %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
