<table class="table table-stripped">
  <thead>
    <tr>
    	<th>MINS</th>
      <th>PTS</th>
      <th>AST</th>
      <th>FTA-FTM</th>
      <th>FGA-FGM</th>
      <th>LSA-LSM</th>
      <th>DEFR</th>
      <th>OFR</th>
      <th>BLK</th>
      <th>STL</th>
      <th>SCORE</th>
    </tr>
  </thead>
  <tbody>
    {{#each boxscore in model}}
      <tr>
        <td>{{boxscore.minutes}}</td>
        <td>{{boxscore.points}}</td>
        <td>{{boxscore.assists}}</td>
        <td>{{boxscore.fta}}-{{boxscore.ftm}}</td>
        <td>{{boxscore.fga}}-{{boxscore.fgm}}</td>
        <td>{{boxscore.lsa}}-{{boxscore.lsm}}</td>
        <td>{{boxscore.defr}}</td>
        <td>{{boxscore.ofr}}</td>
        <td>{{boxscore.blocks}}</td>
        <td>{{boxscore.steals}}</td>
        <td>{{boxscore.finalScore}}</td>
      </tr>
    {{/each}}
  </tbody>
 </table>
