<table class="table table-stripped">
  <thead>
    <tr>
      <th {{action 'sortBy' 'name'}}>NAME</th>
      <th {{action 'sortBy' 'number_of_teams'}}>TEAMS</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td> {{#link-to 'league' this}} {{name}} {{/link-to}} </td>
        <td> {{number_of_teams}} </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers content=content}}
