<table class="table table-stripped">
  <thead>
    <tr>
      <th {{action 'sortBy' 'name'}}> NAME</th>
      <th {{action 'sortBy' 'position'}}>POS</th>
      <th {{action 'sortBy' 'stats.points'}}>PTS</th>
      <th {{action 'sortBy' 'stats.assits'}}>AST</th>
      <th {{action 'sortBy' 'stats.blocks'}}>BLK</th>
      <th {{action 'sortBy' 'avg_rebounds'}}>REB</th>
      <th {{action 'sortBy' 'stats.steal'}}>STL</th>
      <th {{action 'sortBy' 'stats.final_score'}}>SCORE</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td> {{#link-to 'player' this.id}} {{name}} {{/link-to}} </td>
        <td> {{position}} </td>
        <td> {{stats.points}} </td>
        <td> {{stats.assits}} </td>
        <td> {{stats.blocks}} </td>
        <td> {{avg_rebounds}} </td>
        <td> {{stats.steals}} </td>
        <td> {{stats.final_score}} </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{page-numbers content=content}}
